@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayContainer{
    display: flex;
    width: 350px;
    font-family: Poiret One;
    justify-content: center;
    align-items: center;

}

.temperature{
    width: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #112D4E;
    color: white;
    text-transform: uppercase;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

span{
    margin-top: 30px;
    font-size: 45px;
}

.bold{
    font-weight: bold;
}

.description{
    width: 200px;
    background-color: #DBE2EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}


.weatherDescription{
margin-top: -1px;
}


button {
  background-color: transparent;
  border: 2px solid #112D4E;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
  /* min-height: 60px;
  min-width: 0; */
  padding: 16px 24px;
  text-align: center;
  font-family: Poiret One;
  text-transform: uppercase;
  font-weight: 800;
}


button:hover {
  color: #fff;
  background-color: #112D4E;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
