@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayContainer{
    display: flex;
    width: 350px;
    font-family: Poiret One;
    justify-content: center;
    align-items: center;

}

.temperature{
    width: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #112D4E;
    color: white;
    text-transform: uppercase;
    align-items: center;
}

span{
    margin-top: 30px;
    font-size: 45px;
}

.bold{
    font-weight: bold;
}

.description{
    width: 150px;
    background-color: #DBE2EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.weatherDescription{
margin-top: -1px;
}